*.a
*.dSYM
*.o
*.plist
.deps
.dirstamp
.DS_Store
aclocal.m4
arpspoof
autom4te.cache
compile
config.cache
config.h*
config.log
config.status
config.sub
dnsspoof
dsniff
filesnarf
install-sh
macof
mailsnarf
Makefile
mount.c
mount.h
msgsnarf
nfs_prot.c
nfs_prot.h
sshmitm
sshow
tcpkill
tcpnice
urlsnarf
webmitm
